<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title>Tongue</title>{% endblock %}
</head>
<body>
  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>