{% extends "base_generic.html" %}

{% block content %}
    <h1>Session: {{ session_name }}</h1>
    {% if iterations_not_reviewed %}
        <h3>Not reviewed:</h3>
        <ul>
            {% for iteration in iterations_not_reviewed %}
                <li><a href="/iteration/{{ iteration.id }}">{{ iteration.id }} {{ iteration.date }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if iterations_reviewed %}
        <h3>Reviewed:</h3>
        <ul>
            {% for iteration in iterations_reviewed %}
                <li><a href="/iteration/{{ iteration.id }}">{{ iteration.id }} {{ iteration.date }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}