{% extends "base_generic.html" %}

{% block content %}
    <h1>Input words: {{ input_text }}</h1>
    <form action="{% url 'djangoServer:submit_iteration_review' session_id iteration_id %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% if groups_list %}
                {% for group in groups_list %}
                    <input type="checkbox" name="group{{ group.id }}" id="group{{ group.id }}"
                           value="{{ group.id }}">
                    {#                        <label for="group{{ group.id }}">{{ group.id }}</label>#}
                    <details open>
                        <summary>{{ group.id }}</summary>
                        {% for sentence in group.sentences %}
                            <details>
                                <summary>{{ sentence.preview }}</summary>
                                {{ sentence.text }}
                            </details>
                        {% endfor %}
                    </details>
                    <hr>
                {% endfor %}
            {% else %}
                <p>There is no group</p>
            {% endif %}
        </fieldset>
        <input type="submit" value="Start iteration">
    </form>
{% endblock %}