{% extends "base_generic.html" %}

{% block content %}
    <h1>Session list:</h1>
    {% if sessions_list %}
        <ul>
            {% for session in sessions_list %}
                <li><a href="/session/{{ session.id }}">{{ session.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There is no sessions</p>
    {% endif %}
    <a href="{% url 'djangoServer:create_session_form' %}">Create session</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'djangoServer:clear' %}">Clear database</a>
{% endblock %}