{% extends "base_generic.html" %}

{% block content %}
    <h1>Start session</h1>
    <form action="{% url 'djangoServer:submit_create_session' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Word</legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <label>
                <input type="text" name="sentence">
            </label>
        </fieldset>
        <input type="submit" value="Create">
    </form>
{% endblock %}